* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Merriweather', serif;
}

:root {
    --primary-bg-color: #222a35;
    --secondary-bg-color: #171e28;
 }

.container-firstPage,.container-myResumePage {
    background-color: var(--primary-bg-color);
}

.container-aboutMePage,.container-contactMePage {
    background-color: var(--secondary-bg-color);
}

.container-profile-leftContent h1 {
    font-size: 5em;    
    line-height: 1em;
    font-weight: 100;
}

.container-profile-leftContent p {
    font-size: 1.5em;    
    line-height: 2em;
}

.container-profile {
    padding: 3.5em;
}

.container-profile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.container-profile img {
    width: 300px;
}

.container-profile-rightContent {
    display: flex;
    gap: 20px;
    width: 25%;
}
.container-profile-rightContent hr {
    width: 3px;
    border: none;
    background-color: #ffffff;
}

.profile-icon {
    display: flex;
    gap: 15px;
}

.profile-icon img {
    width: 2em;
}

.profile-aboutMe {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
}

/* About me Page */

.container-aboutMePage {
    display: flex;
    flex-direction: column;
    padding: 5em;
    gap: 2em;
}

.contanier-aboutme-top {
    padding: 0 5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5em;
}

.text-about-me {
    font-size: 5em;
    margin-left: 20%;
}

.container-aboutme {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.container-aboutme hr {
    width: 0.1em;
    border: none;
    background-color: #ffffff;
}

.container-aboutme-leftContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2em;
}

.container-aboutme-rightContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 3em 0 0 0;
}

.container-aboutme-rightContent button {
    width: 30%;
    background: rgba(0,0,0,0);
    border: solid 2px #e0541d;
    border-radius: 1.5em;
    padding: 2em;
}

.container-aboutme-rightContent .signature {
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 5em;
}