* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Merriweather', serif;
}

:root {
    --primary-bg-color: #222a35;
    --secondary-bg-color: #171e28;
    --primary-text-color: #ffffff;
    --secondary-text-color: #bdbdbd;
 }

.container-firstPage,.container-myResumePage {
    background-color: var(--primary-bg-color);
}

.container-aboutMePage,.container-contactMePage {
    background-color: var(--secondary-bg-color);
}

/* First Page */

.container-profile-leftContent h1 {
    font-size: 5em;    
    line-height: 1em;
    font-weight: 100;
}

.container-profile-leftContent p {
    font-size: 1.5em;    
    line-height: 2em;
}

.container-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 10% 15%;
}

.container-profileImage {
    position: relative;
    height: 20%;
}

.profileImage {
    width: 30em;
    position: absolute;
    left: 38%;
    bottom: 0;
    z-index: 2;
}

.container-profile-rightContent {
    display: flex;
    gap: 20px;
    width: 25%;
    margin-top: 10%;
}
.container-profile-rightContent hr {
    width: 1px;
    border: none;
    background-color: var(--primary-text-color);
}

.profile-icon {
    display: flex;
    gap: 15px;
}

.profile-icon img {
    width: 2em;
}

.profile-aboutMe {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
}

/* About me Page */

.container-aboutMePage {
    display: flex;
    flex-direction: column;
    padding: 5em 5em 5em 5em;
    gap: 2em;
}

.contanier-aboutme-top {
    padding: 0 5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5em;
}

.contanier-aboutme-top p {
    color: var(--secondary-text-color);
}


.contanier-aboutme-top :first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contanier-aboutme-top :last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contanier-aboutme-top :nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-about-me {
    font-size: 5em;
    margin-left: 20%;
}

.container-aboutme {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.container-aboutme hr {
    width: 1px;
    border: none;
    background-color: var(--primary-text-color);
}

.container-aboutme .leftContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 2em;
}

.interesting-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.interesting-item img {
    width: 2.5em;
}

.interesting-item p {
    font-size: 1em;
}

.container-aboutme .rightContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 3em 0 1em 0;
}

.container-aboutme .signature {
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 5em;
}

/* My Resume Page */

.container-myResumePage {
    padding: 5em;
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.text-myResume {
    font-size: 5em;
    margin-left: 20%;
}


.container-myResume {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.container-myResume .leftContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2em;
    padding: 0 0 10em 0;
}

.container-myResume .rightContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 3em 0 3em 0;
}

.text-resume-aboutme {
    width: 95%;
}

.skills-header-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.programming, .graphic-softskill {
    width: 45%;
}

.graphic-softskill {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.skills-container-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.skills-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 0.5em;
}

.skills-container hr {
    height: 1px;
    background-color: var(--primary-text-color);
    border: none;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.skills h2 {
    font-size: 1em;
}


.skills-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.skills-title img {
    width: 2em;
}

.text-h2 {
    font-size: 2em;
}

.education-header-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1.25em;
}

.education-experience-container p {
    font-size: 1em;
    font-weight: 400;
    color: var(--secondary-text-color);
    line-height: 1.5em;
}

.education-experience-container h4 {
    font-size: 1.5em;
    line-height: 0.75em;
}

.education-experience-container h3 {
    font-size: 1em;
    line-height: 1.25em;
}

.education-experience-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}

.education-item {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.experience-header-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1.25em;
}

.experience-item {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.hobbies {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.hobbies img {
    width: 4em;
    height: 4em;
}

.container-myResumePage .rightContent button {
    width: 35%;
    background: #ff8059;
    border: none;
    border-radius: 1em;
    padding: 1em 0.5em;
    font-size: 1em;
    font-weight: 700;
    margin-top: 2em;
}

.container-myResumePage .rightContent button:hover {
    background: #ffcebf;
    color: #000000;
}